@font-face {
	font-family: "LeagueGothic-Regular";
	src: url("type/LeagueGothic-Regular.otf");
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

.clear{
	clear:both;
}

.wrapper {
	margin: auto;
	width: 100%;
}

body {

}

.navbar {
	background-color: #e54e48;
	
}

nav li {
	
	font-family: sans-serif;
	font-size: 1.5em;
	display: inline;
	line-height: 1.5em;
	margin-right: 30px;

}

nav a {
	text-decoration: none;
	color: #FFF;
}

nav a:hover {
	color: #000;
}

h1 {

}

h2 {
	color: red;
}

h3 {

}

h4 {

}

#about {
	background-color: #E3E3E3;
	height: auto;

}

.bio {

}

.callout {
	background-color: #e54e48;
	color: #FFF;
}

#portfolio1 {
	background-color: #B9F140;
}

#portfolio2 {
	background-color: #40CBF1;
}

#portfolio3 {
	background-color: #B9F140;
}

#portfolio4 {
	background-color: #40CBF1;
}

.rightText {

}

.leftImages {

}

.leftText{

}

.rightImages {

}

.hoverText {
	
}

.image1 {

}

.image2 {

}

.image3 {

}

.image4 {

}

#contact {

}