body {
	background-color: #E3E3E3;
	margin: auto;
}

header {
	height: 220px;
	background-color: #453226;
	margin: auto;
	padding-top: 20px;

}

h1 {
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFF;
}

nav { 
	
	background-color: #000;
	height: auto;
	text-align: center;
	padding: .02px;

}

nav li{
	color: #D9C180;
	font-family: serif;
	font-size: 1.3em;
	display: inline;
	margin-left: 20px;


}

section {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
	height: auto;

}

h2 {
	font-size: 1.5em;
	font-family: sans-serif;
	color: #382E13;
}

article {
	width: 35%;
	position: relative;
	float: left;
	text-align: center;
	font-family: serif;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 20px;

}
.clear {
	clear: both;
}
footer {
	position: relative;
	margin: auto;
	text-align: center;
	padding: 10px;
	background-color: #453226;
	height: 100px;
	color: #D9C180;
	font-family: serif;
}