@font-face {
	font-family: "LeagueGothic-Regular";
	src: url("type/LeagueGothic-Regular.otf");

}

@media screen and (min-width:600px) {
}

@media screen and (max-width:599px) {
 
  }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

.clearright {
	clear: right;
}

.clearleft{
	clear: left;
}
@font-face {
	font-family: 'LeagueGothic';
	src: url('type/LeagueGothic-Regular.oft');
	src: url('type/LeagueGothic-Italic.oft');
	src: url('type/LeagueGothic-CondensedRegular.oft');
	src: url('type/LeagueGothic-CondensedItalic.oft');
}

body {
	margin: auto;
	font-family: LeagueGothic;
	width: 100%;
}

header {
	height: 50px;
	margin: auto;

}


h1 {
	text-align: left;
	font-weight: bold;
	font-size: 80px;
	text-transform: uppercase;
	color: #000;
	padding: 20px 0px 0px 30px;
	margin: auto;
	font-family: LeagueGothic-Regular;
	clear: both;
}

#sidenav { 
	
	height: auto;
	text-align: left;
	padding: .02px;
	position: relative;
	float: left;
	height: 1000px;
	margin-right: 50px;
	font-weight: bold;
	width: 40%;


}

#sidenav li {
	list-style: none;
	display: block;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 14px;
	padding-bottom: 15px;

}

hr {
	border-width: 2px;
	clear: both;



}

#topnav li{
	font-size: 16px;
	display: inline;
	margin-right: 20px;
	padding-right: 30px;
	float: right;
	font-family: sans-serif;
	font-weight: bolder;



}

ul a {
	color: #000;
	text-decoration: none;
}

ul a:hover {
	color: #7a99a1;
	text-decoration: none;
}
section {
	position: relative;
	margin-left: 30px;
	margin-right: auto;
	text-align: center;
	width: 100%;
	height: auto;

}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	font-family: LeagueGothic-Regular;
	font-weight: lighter;
	margin-bottom: -10px;
}

h3{

	font-size: 1em;
	font-family: sans-serif;
	margin-bottom: -30px;

}
article {
	width: 90%;
	position: relative;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 40px;
	font-family: sans-serif;


}
.clear {
	clear: both;
}
footer {
	position: relative;
	margin: auto;
	text-align: center;
	padding: 10px;
	background-color: #453226;
	height: 100px;
	color: #D9C180;
}